# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files (RẤT QUAN TRỌNG - Không được push lên Git)
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ==============================
# BỔ SUNG CHO CAPACITOR & ANDROID
# ==============================

# File ứng dụng đã đóng gói (Tuyệt đối không push)
*.apk
*.aab
*.keystore
*.jks

# Thư mục build và cấu hình tạm của Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties

# Thư mục build và cấu hình tạm của iOS (nếu sau này bạn làm)
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock
*.xcworkspace